<div class="jumbotron text-center" >
  <h1>Books Management</h1> 
  <p>Search the books with keywords...</p> 
  <form action="/books/search" method="get"> 
    <div class="input-group">
      <input type="text"  name="term" class="form-control" size="50" placeholder="Search..."  >
      <div class="input-group-btn">
        <input type="submit" class="btn btn-danger" value="submit">Search</button>
      </div>
    </div>
  </form>
</div>


<!--<section style="padding-top:80px;">

<form action="/books/search" >

<input type="text" placeholder="Search...." name="term">
<input type="submit" value="submit">


</form>


</section>-->